@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600;700&family=Tilt+Neon&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Inconsolata", monospace !important;
}

a {
  text-decoration: none;
  color: inherit;
}
